.common-modal{
    --height: 60vh;
    --width: 90vw;
    --max-width: 512px;
    --border-radius: 25px;
}

.account-list{
    height: auto;
    max-height: 400px;
    overflow-y: scroll;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #ddd;
    margin-top: 12px;
}

.toast-default{
    text-align: center;
}