.container {
  left: 0;
  right: 0;
}

.container strong {
  font-size: 20px;
  line-height: 26px;
}

.container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

.container a {
  text-decoration: none;
}

.account-box{
  overflow-y: scroll;
  height: 100%;
}
.account-detail{
    text-align: center;
    margin-bottom: 12px;
    border-bottom: 1px dashed #dddddd;
}

.acct-addr{
  padding: 12px;
}
.addr-chip{
  word-break: break-all;
  height: auto;
  line-height: 1.2;
  font-weight: 500;
  font-size: 12px;
}